<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn2001.scoa.mapper.CourseMapper">


    <select id="selectCredit" resultType="com.xn2001.scoa.entity.CourseResult">
		SELECT
			g.s_num number, s.name name, s.year year,
			SUM(CASE c.sort WHEN '专业支撑课' THEN c.credit END) pSc,
			SUM(CASE c.sort WHEN '公共必修课' THEN c.credit END) pCc,
			SUM(CASE c.sort WHEN '集中实践课' THEN c.credit END) iPu,
			SUM(CASE c.sort WHEN '素质拓展课' THEN c.credit END) qDs,
			SUM(CASE c.sort WHEN '专业拓展课' THEN c.credit END) pD,
			SUM(CASE c.sort WHEN '专业核心课' THEN c.credit END) cC
		FROM grade g, course c, student s
		WHERE  g.c_id = c.id AND s.number = g.s_num
		GROUP BY g.s_num
		ORDER BY s.claee;
    </select>

	<insert id="insert" parameterType="java.util.List">
		INSERT IGNORE INTO course(id,name,college,credit,sign,sort) VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.id},
			#{item.name},
			#{item.college},
			#{item.credit},
			#{item.sign},
			#{item.sort}
			)
		</foreach>
	</insert>
</mapper>